 {{!-- Setup the `index.handlebars` to have the template that Handlebars can render onto. --}} {{!-- Create a button in `index.handlebars`
that will submit the user input into the database. --}}

<div id="wrapper">
  <h1>Note Scraper</h1>
  <h2>
    <i>This is handlebars</i>
  </h2>
  <div id="articles"></div>
  <div id="notes"></div>
</div>


