 {{!-- Setup the `index.handlebars` to have the template that Handlebars can render onto. --}} {{!-- Create a button in `index.handlebars`
that will submit the user input into the database. --}}

<h1>Event Scraper</h1>
<h2>
  <i>this is handlebars</i>
</h2>
<div class="container">
  <div class="row justify-content-end">
    <div class="col-6">
      <div class="row test">
        <div id="articles">
{{ articles }}


        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="noteCss" id="notes"></div>
    </div>
  </div>
</div>